#card{

    
    height: 530px;
}

#image{

    width: 200px;
    height: 200px;
    
}
#card-body{
    position: relative;
   
}


#kkkklll{
    position:absolute;
    bottom: 13%;
    right:50%;
    left:50%;
    width:150px ;
    transform: translate(-50%, -50%);
  font-weight: 700;
}

#moreDescription{

    position:absolute;
    bottom:0%;
    right:50%;
    left:50%;
    width:150px ;
    transform: translate(-50%, -50%);
   

}